// Navigation Styles here
header {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 5.25%;
    border-bottom: 2px dashed lightgrey;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav {
    font-size: 1.6rem;
    width: 60%;
    align-self: center;
    text-align: right;
    padding: 0px 3.8%;
    
    a {
        text-decoration: none;
        color: black;
        padding-left: 6.5%;
    }
}

